
<div class="col select-filter mb-md-4 d-flex justify-content-end">
   <div class="col d-flex align-items-end m-2">
        <button class="d-none d-md-block btn btn-sm btn-primary btn-filter" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrer les résultats</button>
        <button class="d-md-none btn btn-sm btn-primary btn-filter-min" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fas fa-filter"></i></button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header mt-5">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Filtrer les résultats</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="div-search col d-flex">
                    {% include "site/event/_filter_form.html.twig" with { form:form } only %}
                </div>  
            </div>
        </div>
   </div> 
    <div class="m-md-0 js-filter-sorting">
        {% include "site/event/_sorting.html.twig" %}
    </div>
</div>
